<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>From A to B</title>
    <link rel="stylesheet" href="./assets/jass.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="https://cdn3.emoji.gg/emojis/7122-happy-pepe.png">
</head>

<body>
    <div class="container is-fullheight">
        <header class="hero is-primary is-small">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item mx-5" href="/home">
                                <img src="https://cdn3.emoji.gg/emojis/7122-happy-pepe.png" alt="pepe">
                            </a>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="/home">Home</a>
                            <a class="navbar-item" href="/cars">Cars</a>
                            <a class="navbar-item" href="/trucks">Trucks</a>
                            <a class="navbar-item" href="/suvs">SUVs</a>
                            <!-- Render login or logout links -->
                            {{#if logged_in}}
                            <a class="navbar-item" href="/profile">Profile</a>
                            <a class="navbar-item" href="/logout" id="logout">Logout</a>
                            {{else}}
                            <a class="navbar-item" href="/login" id="login">Login</a>
                            {{/if}}
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class="section is-flex is-full is-large">
            <!-- Render sublayout -->
            {{{body}}}
        </main>
        <footer class="footer">
            <div class="content has-text-centered">
                <p><strong><a href="https://github.com/hunterthompson025/From_A_to_B">From A to B</a></strong>. This content is licensed under the <a href="https://github.com/hunterthompson025/From_A_to_B/blob/master/LICENSE">MIT license</a>.</p>
                <p><a href="https://github.com/hunterthompson025">Hunter Thompson, </a>
                <a href="https://github.com/goodritu1">Ritu Gupta, </a>
                <a href="https://github.com/Nalipas">Steven Moreno, </a> and
                <a href="https://github.com/saimayunus925">Saima Yunus</a>
            </div>
        </footer>
    </div>
    
    <!-- Render script for logged in user -->
    {{#if logged_in}}
    <script src="/views/js/logout.js"></script>
    {{/if}} 
</body>
</html> 