
<div class="container">
    <h1 class="title">Login</h1>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" id="email-login" type="email" placeholder="Email">
        </div>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" id="password-login" type="password" placeholder="Password">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link login-form" id="login-form">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="title">Sign-up</h1>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" id="email-signup" type="email" placeholder="Email">
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" id="password-signup" type="password" placeholder="Password">
            </div>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link signup-form" id="signup-form">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>
</div>

<script src="./public/js/login.js"></script>
